---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Projects from "@components/Projects"
import { PROJECTS } from "@consts"

// Obtener los proyectos y ordenar por fecha
const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.fecha.getTime() - a.data.fecha.getTime()) // Cambié "date" por "fecha"

// Obtener las etiquetas únicas y ordenarlas alfabéticamente
const tags = [...new Set(projects.flatMap(project => project.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {PROJECTS.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Projects client:load tags={tags} data={projects} />
    </div>
  </BottomLayout>
</PageLayout>
